<div class="row">
  <div class="col-sm-7 col-md-8 col-lg-9 articles">

    <div class="row article">
      <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
        <img class="article_img" src="article1.png" width="200">
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
        <h2 class="context">Wonderful Copenhagen 2011</h2>
        <p class="post context">Posted 23/1-2011</p>
        <div class="summary context">
          <p class="article_content collapse" id="collapseSummary1">
            The aim is to understand the science behind our sensory
            perceptions. And by stimulating the senses we will improve
            our tasting skills. Therefore the program will be a mix of
            aroma sessions, basic taste tehory...
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
        </div>
        <a class="collapsed" data-toggle="collapse" href="#collapseSummary1" aria-expanded="false" aria-controls="collapseSummary1"><button class="btn readmore_button" type="button" name="button">Read more</button></a>
      </div>

    </div>

    <hr>


    <div class="row article">
      <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
        <img class="article_img" src="article2.png" width="200">
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
        <h2 class="context">Nordic Barista Cup 2011 in Copenhagen</h2>
        <p class="post context">Posted 22/1-2011</p>
        <div class="summary context">
          <p class="article_content collapse" id="collapseSummary2">
            Nordic Barista Cup 2011 will be held in Copenhagen, Denmark.
            Dates: 25th - 27th August 2011. The Theme for the 2011 seminar
            is: SENSORY. More information will follow on the page....
            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt mollit
            anim id est laborum.</p>
        </div>
        <a class="collapsed" data-toggle="collapse" href="#collapseSummary2" aria-expanded="false" aria-controls="collapseSummary2"><button class="btn readmore_button" type="button" name="button">Read more</button></a>
      </div>
    </div>

    <hr>


    <div class="row article">
      <div class="col-sm-5 col-md-5 col-lg-4 col-xl-3">
        <img class="article_img" src="article3.png" width="200">
      </div>

      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-9">
        <h2 class="context">2010 Winners: Sweden</h2>
        <p class="post context">Posted 12/1-2011</p>
        <div class="summary context">
          <p class="article_content collapse" id="collapseSummary3">
            Oh my goodness, the final night is here! We are at the most
            incredible location in all of Oslo - well, at least that is what
            I think, since I haven't seen much of anything else around here...
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco
            laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat
            cupidatat non proident, sunt in culpa qui officia deserunt
            mollit anim id est laborum.</p>
        </div>
        <a class="collapsed" data-toggle="collapse" href="#collapseSummary3" aria-expanded="false" aria-controls="collapseSummary"><button class="btn readmore_button" type="button" name="button">Read more</button></a>
      </div>
    </div>


    <hr>

  </div>

  <div class="col-sm-5 col-md-4 col-lg-3 sidebar">

    <div class="shop">
      <h2>NBC Shop</h2><br>
      <p>Your shopping cart is empty<br>
        <a class="sidebar_link" href="#">Visit the shop</a></p>
    </div>

    <div class="events">
      <h2>Next Event</h2><br>
      <p>NORDIC BARISTA CUP 2011<br>
        Copenhagen Denmark<br>
        Dates: 25th - 27th August 2011<br>
        Theme: SENSORY<br><br>
        <a class="sidebar_link" href="#">Sign up now</a></p><br>
    </div>

    <div class="scoreboard">
      <h2>Scoreboard</h2><br>
      <p>List of winners from past years<br><br>
        2011 - ?<br>
        2010 - Sweden<br>
        2009 - Denmark<br>
        2007 - Sweden<br>
        2006 - Norway<br>
        2005 - Norway<br>
        2004 - Denmark
    </div>

  </div>

</div>
