* {
  margin: 0;
  padding: 0;
}

/* Header section */
.navigation {
  background-image: linear-gradient(to right, #111214, #111214, #111214, #111214, #111214, #3d3d3d);
}

.nav-content {
  float: right;
}

input {
  border-radius: 10px;
  border: none;
  color: black;
  padding-left: 10px;
  font-family: "Georgia", serif;
  float: right;
  margin-top: 10px;
}

input::placeholder {
  font-family: "Georgia", serif;
}

input:focus {
  outline: none !important;
}

mark {
  background: yellow;
}

li {
  display: inline-flex;
  margin-top: 20px;
}

.nav_link {
  font-family: "Garamond", serif;
  color: white;
  font-size: 14px;
  margin-right: 17px;
}

.nav_link:hover {
  text-decoration: none;
  color: grey;
}

label {
  font-size: 25px;
  margin-right: 25px;
  display: none;
}

#toggle {
  display: none;
}

/* Container under randomized pics */
.quote_container {
  background-color: #111214;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.quote {
  font-size: 30px;
  font-family: "Garamond", serif;
  color: rgb(163, 163, 163);
}

.social_icons {
  float: right;
  display: inline-flex;
  margin-top: 40px;
}

.icon {
  margin-left: 5px;
}

/* Sidebar container */
.sidebar {
  padding-top: 30px;
  background-image: linear-gradient(to bottom, lightgrey, white);
  padding-left: 40px;
  margin-bottom: 70px;
}

.sidebar h2 {
  font-size: 30px;
  font-family: "Garamond", serif;
  color: rgb(48, 48, 48);
}

.sidebar p {
  font-size: 15px;
  font-family: "Georgia", serif;
  color: rgb(48, 48, 48);
}

.sidebar_link {
  font-size: 15px;
  font-family: "Georgia", serif;
}

/* Articles */
.article_img {
  border: 6px solid lightgrey;
}

.article {
  margin-left: 20px;
  margin-top: 40px;
}

.col-9 {
  padding-left: 50px;
}

.col-md-8 h2 {
  font-size: 25px;
  font-family: "Garamond", serif;
  padding-top: 20px;
}

.post {
  font-size: 15px;
  font-family: "Garamond", serif;
  color: #4baed5;
}

.article_content {
  font-family: "Georgia", serif;
}

/* Read more button + funtionality */
.readmore_button {
  border-radius: 4px;
  background-image: linear-gradient(to bottom, #4baed5, #46829e);
  color: white;
  text-shadow: 0px -1px 0px black;
  box-shadow: 0px 1px 2px grey;
  font-family: "Helvetica Neue", sans-serif;
  width: 30%;
}

.summary p.collapse:not(.show) {
  height: 45px !important;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.summary p.collapsing {
  min-height: 45px !important;
}

hr {
  width: 90%;
  margin-top: 40px;
  margin-left: 40px;
}

/* Page buttons */
.pagebuttons {
  padding-left: 20px;
  margin-bottom: 100px;
}

.pages {
  display: inline-flex;
  background-color: #e0e0e0;
  color: #777777;
  font-size: 15px;
  padding: 5px 8px 5px 8px;
}

.page_numbers {
  border: none;
  background-color: #e0e0e0;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.page_numbers a:hover {
  text-decoration: none;
}

.current {
  background-color: #8f8f8f;
}

.page_numbers a {
  color: #777777;
}

.current a {
  color: white;
}

/* Sponsors */
.sponsors {
  width: 97%;
  margin: 0 auto;
}

.sponsor_img {
  border: 5px solid #e7e7e7;
  padding: 7px 20px 7px 20px;
  margin-bottom: 30px;
  width: 100%;
}

.col-12 h1 {
  font-family: "Garamond", serif;
  margin-left: 20px;
  font-size: 40px;
  margin-bottom: 30px;
}

/* Footer */
.footer-content {
  background-color: #111214;
  padding-top: 30px;
  padding-bottom: 50px;
}

.footer-content .container {
  max-width: 100%;
}

.about {
  margin-left: 20px;
  margin-bottom: 50px;
}

.about h2 {
  font-family: "Garamond", serif;
  color: white;
  margin-bottom: 20px;
}

.about1 {
  font-family: "Georgia", serif;
  color: rgb(111, 110, 110);
}

.about2 {
  font-family: "Georgia", serif;
  color: #cecece;
}

.flickr {
  margin-left: 20px;
}

.flickr h2 {
  font-family: "Garamond", serif;
  color: white;
  margin-bottom: 20px;
}

.footer_image {
  margin-bottom: 50px;
}

.contact {
  margin-left: 20px;
}

.contact h2 {
  font-family: "Garamond", serif;
  color: white;
  margin-bottom: 20px;
}

.contact1 {
  color: #cecece;
  font-family: "Georgia", serif;
}

.contact2 {
  font-family: "Georgia", serif;
  color: rgb(111, 110, 110);
}

.social_icons2 {
  display: inline-flex;
  margin-top: 40px;
}

@media only screen and (max-width: 1030px) {
  .quote {
    font-size: 20px;
  }

  .icon {
    width: 80%;
  }

  label {
    display: block;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    top: 30px;
    right: 10px;
    color: white;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu li {
    display: inline-block;
    border-bottom: 1px solid #2e2e2e;
    width: 100%;
  }

  #toggle:checked+.menu {
    display: block;
  }

  .nav-content {
    width: 100%;
    margin-top: 50px;
  }

  .searchbar {
    /*position: absolute;
    top: 10px;
    width: 20%;*/
    display: none;
  }

  li {
    margin-top: 20px;
    padding-bottom: 20px;
  }

  .logo {
    margin-top: 25px;
  }
}

@media only screen and (max-width: 700px) {
  .logo {
    width: 70% !important;
  }

  .nav-content {
    margin-top: 30px;
  }

  label {
    top: 20px;
  }
}

@media only screen and (max-width: 670px) {
  .pages {
    font-size: 12px;
    padding: 5px 8px 5px 8px;
  }

  .page_numbers {
    font-size: 12px;
    padding: 5px 5px 5px 5px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 991px) {
  .readmore_button {
    width: 70%;
  }
}

@media only screen and (max-width: 576px) {
  #random {
    height: 200px;
  }

  .social_icons {
    width: 100%;
  }

  .slider_img {
    height: 200px;
    width: 100%;
  }

  .img {
    width: 50%;
  }

  .social_icons {
    margin-top: 0;
  }
}

@media only screen and (max-width: 440px) {
  .readmore_button {
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .footer_image {
    width: 250px;
  }
}
